<html>
  <head>
    <title>REST</title>
    <style>
      form input{
        width: 80px;
      }
    </style>
    <script src="/public/javascript/ajax.js" type="text/javascript"></script>

    <script type="text/javascript">

      function put()
      {
        ajax(
        {
          url: "/Rest/1",
          type: "PUT",
          data: "json",
          onSuccess: function(msg)
          {
            alert(msg);
          }
        });
      }

      function del()
      {
        ajax(
        {
          url: "/Rest/1",
          type: "DELETE",
          data: "json",
          onSuccess: function(msg)
          {
            alert(msg);
          }
        });
      }

      </script>

  </head>
  <body>

   <form name="form" method="get" action="/Rest/1">
     <input type="submit" value="Get" />
   </form>

   <form name="form" method="post" action="/Rest">
     <input type="submit" value="Post" />
   </form>

   <button type="button" onclick="put();">Put</button>

   <button type="button" onclick="del();">Delete</button>

  </body>
</html>