<html>
  <head>
    <title>REST</title>
    <style>
      form input{
        width: 80px;
      }
    </style>
  </head>
  <body>

   <form name="form" method="get" action="/Rest/1">
     <input type="submit" value="Get" />
   </form>

   <form name="form" method="post" action="/Rest">
     <input type="submit" value="Post" />
   </form>

   <form name="form" method="put" action="/Rest/1">
     <input type="submit" value="Put" />
   </form>

   <form name="form" method="delete" action="/Rest/1">
     <input type="submit" value="Delete" />
   </form>

  </body>
</html>