#s["title"]="logup"
#render(`view/main.html`)|->|{
<form name="mail" method="post" action="/action/Log/logup">
<table cellspacing="0">
	<tr>
		<td width="30px" nowrap>username</td>
		<td colspan=2><input type="text" id="username"
			name="username" value=""></td>
	</tr>
	<tr>
		<td>password</td>
		<td><input id="passwd" name="password"
			type="password" value=""></td>
	</tr>
	<tr>
		<td>repeat</td>
		<td><input id="passwd2" name="passwd2"
			type="password" value=""></td>
	</tr>
	<tr>
		<td>email</td>
		<td><input id="email" name="email"
			type="text" value=""></td>
	</tr>
	<tr>
		<td>
		<button type="submit">submit</button>
		</td>
	</tr>
</table>
</form>
#}
