<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>${s["title"]}</title>
    <link rel="stylesheet" type="text/css" href="/public/main.css">
  </head>
  <body>
    <a href='/'>Index</a>
    <a href='/action/User/i/allUsers?page=0'>UserList</a>
    
    #if(req.session["user"]==null){
    	<a href='/action/Log'>Login</a>
    #}else{
    	<a href='/action/User/${req.session["user"]}'>${req.session["user"]}</a>
    	<a href='/action/Log/logout'>Logout</a>
    #}
    
    #if(req.session["message"]!=null){
    	<p class="message">${req.session["message"]} !</p>
    	#req.session["message"]=null
    #}
    
    
    <p>
    	#lay()
    </p>
  </body>
</html>