<script type="text/javascript">
		function addComment(i){
			link=document.getElementById("addComment"+i);
			link.style.display=null
		}
</script>


#post:=s["post"]
	<p class="post">${post->text}
	#if(s["curUser"]==req.session["user"]){
		<a href='/action/PostRes/delete?id=${post->id}'>delete</a>
	#}
	</p>
	#Obj[] ps:=post->commentList
	#ps.each|comment|{
		<p class="comment">${comment->text}
		#if(s["curUser"]==req.session["user"]){
			<a href='/action/CommentRes/delete?id=${comment->id}'>delete</a>
		#}
		</p>
	#}
	
	<a href="javascript:addComment(${post->id});">addComment</a>
	
	<div style="display:none" id="addComment${post->id}">
	<form name="post" method="post" action="/action/CommentRes/create">
		<INPUT Type="HIDDEN"  name="postId"  Value="${post->id}">
		<textarea name="text"  rows=2 cols=30 ></textarea>
		<button type="submit">comment</button>
	</form>
	</div>